body {
    height: 100vh;
    width: 100vw;
    display: flex;
    background-color: black;
    justify-content: center;
}

.parent {
    display: flex;
    flex-direction: column;
    width: 70vw;
    gap: 10px;
    background-color: gray;
    align-items: center;
    border: 2px solid black;
}

input {
    width: 40vw;
    background-color: rgb(200, 130, 166);
    height: 40px;
    color: black;
    border: 2px solid black;
}

button {
    background-color: rgb(213, 94, 94);
    height: 44px;
    border: 2px solid black;
}

.wrap {
    margin-top: 15px;
    height: fit-content;
    display: flex;
    gap: 5px;
    justify-content: center;
    align-items: center;
}

.list {
    display: flex;
    width: 50vw;

}

.li {
    background-color: rgb(98, 98, 191);
    border: 2px solid;
    margin: 5px;
    word-wrap: break-word;
    overflow-wrap: break-word;
}

.ol {
    width: 100%;
    padding: 10px;
}